@use "../../../root.scss" as root;

.blog-top {
  height: 90vh;
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.archive-posts {
  padding: 1vw;
  background-color: root.$background-color;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  margin-top: -5vh;
  width: 100%;
  display: grid;
  justify-content: center;
  @include root.desktop {
    grid-template-columns: 344px 344px;
    grid-template-rows: 590px 590px;
  }
  @include root.tablet {
    grid-template-columns: min(344px, 35%) min(344px, 35%);
    grid-template-rows: 590px 590px;
  }
  @include root.mobile {
    grid-template-columns: min(344px, 80%);
    grid-template-rows: 590px;
  }
  gap: 60px;
}

.blog-card-wrapper {
  @include root.desktop {
    width: 344px;
    height: 590px;
  }
  @include root.tablet {
    width: min(344px, 35%);
    height: 590px;
  }
  @include root.mobile {
    width: min(344px, 80%);
    height: 590px;
  }
}

.archive-text {
  margin-bottom: 80px;
}
