@use "../../../root.scss" as root;

.app-button {
  background-color: root.$text-secondary;
  border-radius: 8px;
  @include root.mobile {
    height: 30px;
  }
  @include root.tablet {
    height: 40px;
  }
  @include root.desktop {
    height: 50px;
  }
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  p {
    font-family: poppins-extralight, poppins, sans-serif;
    text-align: center;
    @include root.desktop {
      font-size: 16px;
      font-weight: 350;
    }
    @include root.tablet {
      font-size: 15px;
      font-weight: 350;
    }
    @include root.mobile {
      font-size: 14px;
      font-weight: 350;
    }
  }
  &:hover {
    background-color: root.$background-color;
    outline: 1px solid root.$text-primary;
    // border-width: 1px;
    // outline: none;
    border: none;
    p {
      font-family: poppins-extralight, poppins, sans-serif;
      text-align: center;
      color: root.$text-primary;
    }
  }
  &:active {
    outline-width: 2px;
  }
}
