$background-color: #eee;
$background-opposite-color: #333333;
$shadow-color: #333333;
$text-primary: #666;
$text-dark-primary: #2d2e39;
$text-secondary: #fd6262;
$text-dark-secondary: #9f4242;
$text-accent: #889ce7;
